{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>3P Web作成</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>


<body> 
    <!--ヘッダー-->
    <div class="header">
        <div class="header_icon_all">
            <a class="header_icon" href="/"><span><img class="kydolex_header_log" src="{%static 'img/Kydolex.full.log.white.png'%}" alt=""></span></a>
        </div>
        <div class="header_list_all">
            <a class="header_list" href="/">３P作成ホーム</a>
            <a class="header_list" href="/">デザイン一覧</a>
            <a class="header_list" href="/">参考料金</a>
            <a class="header_list" href="/">作成依頼</a>
            <a class="header_list" href="/">お問い合わせ</a>
        </div>
    </div> 
    <main>

        <div class="list_page_title">Webデザインイメージ一覧</div>

        {% block List %}
        <div class="list_all_page">
        {% for List in List_data %} 
            <div class="list_body_page" > 
                    {% if List.image %}
                        <img class="list_img_page" src="{{ List.image.url }}" alt="">
                    {% endif %}
                    <div class="list_title_page">{{ List.title }}</div>              
            </div>
            {% endfor %}
        </div>
        {% endblock %}

    </main>
    

    {% block extra_js %}
        <script>
        </script>
    {% endblock %}
    
    <footer class="footer_all">
        <div class="footer">
            <div class="footer_title">
                <img class="footer_img" src="{%static 'img/Kydolex.full.log.white.png'%}" alt="">
                <div class="footer_title_sub">〜 Make your life more exciting 〜</div>
            </div>
            <div class="footer_text_body">
                <div class="footer_text">
                    <a class="footer_text_text" href="/">企業概要</a>
                    <a class="footer_text_text" href="/">企業代表者</a>
                    <a class="footer_text_text" href="/">企業理念</a>
                    <a class="footer_text_text" href="/">事業内容</a>
                    <a class="footer_text_text" href="/">最新情報</a>
                    <a class="footer_text_text" href="/">ギャラリー</a>
                    <a class="footer_text_text" href="/">販売サイト</a>
                    <a class="footer_text_text" href="/">宣伝媒体</a>
                    <a class="footer_text_text" href="/">作成料金</a>
                    <a class="footer_text_text" href="/">作成予約</a>
                    <a class="footer_text_text" href="/">作成相談</a>
                    <a class="footer_text_text" href="/">作成依頼</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
